<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @property.color %>
</p>

<p>
  <strong>Quantity in stock:</strong>
  <%= @property.quantity_in_stock %>
</p>

<p>
  <strong>Image:</strong>
  <%= @property.image %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
